<div class="page-header">
	<h1><%= __('user:profile.title') %></h1>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<table class="table table-stripped table-bordered">
			<tr>
				<th><%= __('user:profile:username.label') %></th>
				<td><%= user.username %></td>
			</tr>
			<tr>
				<th><%= __('user:profile:email.label') %></th>
				<td><%= user.email %></td>
			</tr>
		</table>
	</div>
</div>